@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color: #fff;
    --bg-color: rgb(5, 9, 31);
    --main-color: rgb(3, 119, 227);
    --other-color: #b5b9bf;
    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
    overflow-x: hidden;
    
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16%;
    background: var(--bg-color);
    transition: all .50s ease;
}

.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 700;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    font-size: var(--p-font);
    font-weight: 750;
    color: var(--text-color);
    margin-left: 40px;
    transition: all .50s ease;
}

.navlist a:hover{
    padding-right: 10px;
    color: var(--main-color);
}
#menu-icons{
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--text-color);
    border: 4px solid var(--main-color);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.h-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}

section{
    padding: 110px 16% 70px;
}



.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(./image/2203_w026_n002_1490b_p1_1490.jpg);
    background-position: top right;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
}


.main-content h3{
    font-size: 1.4rem;
}

.medsos i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--text-color);
    border: 3.5px solid var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right:17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}

.medsos i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}

.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn:hover{
    background: transparent;
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

.main-content h1{
    font-size: var(--h1-font);
    font-weight: 800;
    margin: 20px 0 20px;
    line-height: 1.3;
}

.main-content h4{
    font-size: 1.6rem;
    margin: 20px 0 20px;
    line-height: 1.3;
    color: var(--text-color);
}

.main-content p{
    font-size: var(--p-font);
    font-weight: 600;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
}

.medsos{
    margin-bottom: 40px;
}

.btn:hover{
    background: transparent;
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

.btn2{
    background:transparent;
    color: var(--text-color);
    border: 3px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}

.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
}

:root {
    --indent: 0;
}

/* For screens smaller than 768px (phones) */
@media (max-width: 767px) {
    header {
        padding: 20px 5%;
    }
    .logo {
        font-size: 28px;
    }
    .navlist {
        display: none;
    }
    #menu-icons {
        display: inline-block;
    }
    .navlist a {
        margin: 10px 0;
    }
    .main-content h1 {
        font-size: 3.5rem;
    }
    .main-content p {
        font-size: 0.9rem;
        width: auto;
    }
    .hero {
        background-position: center;
        height: 100vh;
        padding: 10px;
        padding-top: 44px;
        padding-bottom: 12px;
    }

    .btn2{
        margin: 8px;
    }
}

/* For screens between 768px and 1024px (tablets) */
@media (min-width: 767px) and (max-width: 1024px) {
    .logo {
        font-size: 32px;
    }
    .navlist a {
        margin-left: 20px;
    }
    .main-content h1 {
        font-size: 4rem;
    }
}

/* For screens larger than 1024px (desktops) */
@media (min-width: 1025px) {
    header {
        padding: 20px 10%;
    }
}


/*teste*/




#about{
    height: 100vh;
    padding: 28px;

}

.underline {
    position: relative;
    margin-bottom: 3%;
    font-family: Poppins, sans-serif;
    font-size: 32px;
}
.underline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 15%; 
    height: 5px; /* Espessura do sublinhado */
    border-radius: 12px;
    background-color: var(--main-color); /* Cor do sublinhado */
}

.contentp{
    display: grid;
    grid-template-columns: 1fr; /* Define duas colunas de tamanho igual */
    gap: 8px; /* Espaçamento entre os itens do grid */
    
}

.imghub{
    padding-right: 8px;
}

.contentp p{
    font-family: Poppins, sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    margin-bottom: 8%;
}







#skills{
    min-height: 100vh;
    padding: 2rem;
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
    
}

#skills h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-size: 28px;
}

.container-skill {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas com largura igual */
    gap: 10px;
    
}

.card-2 {
    display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
        color: var(--text-color);
        margin-top: 10px;
        backdrop-filter: brightness(88%);
        font-size: 20px;
        margin-right: 30px;
        box-shadow: 0 0 20px transparent;
        cursor: pointer;
        
    }

.card-2 img {
    max-width: 100%;
    height: 160px;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    transition: all .5s ease-in-out;
}

.card-2__content {
    margin: 1rem 0;
    color: #222;
    overflow: hidden;
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}



.card-2:hover img {
    margin-top: -60px;
    box-shadow: 0 0 4px 6px rgba(187, 185, 185, 0.3);
}

.card-2:hover>.card__content {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 767px) {
    #about{
        height: auto;
        max-width: 500px;
        width: 100%;
    }
    .container-skill{
        display: block;
    }

    .imghub{
        display: block;
        padding-right: 8px;
        max-width: 300px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container-skill{
        display: grid;
        grid-template-columns: auto;
    }
}

#portfolio h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-size: 28px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.linkprojeto{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.linkprojeto:hover{
    background-color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
    
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (max-width: 767px) {
    .navlist {
        display: none;
    }
    #menu-icons {
        display: block;
    }
}
